 .button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.responsive-button-container {
   white-space: normal;
   word-break: break-word;
   text-align: center;
   width: auto;

}
/* @media (max-width:600px) {
    .responsive-button-container {
        padding: 4px 8px;
        font-size: 0.875rem;
        width: '150px'

    }
} */

/* .error{
    background-color: red !important;
}

.success {
    background-color: green !important;
}
.default{
    background-color: orange ;
} */