.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .responsive-button-container {
   white-space: normal;
   word-break: break-word;
   text-align: center;
   width: auto;

} */
 .error {
    border: none !important;
}

.success {
    border: none !important;
}
