.analytics-info{
    display: flex;
    flex-direction: column;
    gap:8px;
    border:1px solid #000000 ;
    padding: 16px;
    border-radius: 14px;
}
.analytics-info .info-text{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.bold-text{
    font-weight: bold;
}