.btn-wrapper{
    display: 'flex';
     /* justifyContent: 'center'; */
      width: '100%'
}
.analytic-results-tab{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    border-radius: 6px;
    background-color: lightgray;
    box-sizing: border-box;
    gap: 10px;
    padding: 10px;
}

.analytic-results  {
    display: flex;
    flex-direction: row;
    gap: 20px
}

.result-item {
    display: flex;
    flex-direction: column;
    padding: 0px 20px 0px 10px;
    max-width: 250px;

}

.input-details {
    display: flex;
    justify-content: end;

}
 .input-details p {
    margin: 0px ;
 }
.analytics-text {
    color: gray ;
    padding-top: 10px;
}

@media (max-width: 768px){
    .analytic-results,
    .input-details {
        width: 100%;
        margin-right: 0;
    }

} 

.result-margin {
    margin-top: 20px;

}

.button-alignment {
    justify-content: end;
    align-items: end;
    width: 75%;
}


.analytics-result-container {
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 5px;
    background-color: #fff;
    margin-bottom: 20px;
}

.material-tab-container {
    background-color: white;
    border: 1px solid lightgray;
    padding: 10px 10px 20px 20px;
    margin-top: 12px;
}

.material-items-container {
    max-width: 240px;
    background-color: white;
    border-radius: 0px !important;

}

.material-items {
    background-color: white;
    gap: 14px;
    padding: 0px !important
}

.flex-direction-column {
    display: flex;
    flex-direction: column;
}

.border-radius-container {
    border-radius: 6px;
}


.recomonded-values-group {
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;

}

.text-alignment {
    font-weight: bold;
    text-align: end;
}