.btn-wrapper{
    display: 'flex';
     /* justifyContent: 'center'; */
      width: '100%'
}

    

.analytic-results-tab{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    border-radius: 6px;
    background-color: lightgray;
    box-sizing: border-box;
    gap: 10px;
    padding: 10px;
}

.analytic-results  {
    display: flex;
    flex-direction: row;
    gap: 20px
}

.result-item {
    display: flex;
    flex-direction: column;
    padding: 0px 20px 0px 10px;
    max-width: 250px;

}

.input-details {
    display: flex;
    justify-content: end;

}
 .input-details p {
    margin: 0px ;
 }
.analytics-text {
    color: gray ;
    padding-top: 10px;
}

@media (max-width: 768px){
    .analytic-results,
    .input-details {
        width: 100%;
        margin-right: 0;
    }

}


.result-container {
    margin-top: 20px;

}

.results-footer {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.results-footer-button {
  width: 50%;  
}