.btn-wrapper{
    display: 'flex';
     /* justifyContent: 'center'; */
      width: '100%'
}
.analytic-results-tab{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    border-radius: 6px;
    background-color: #e8e8e8;
    box-sizing: border-box;
    gap: 10px;
    padding: 10px;
}

.tab-part .MuiTabs-root .MuiButtonBase-root {
    color: #000;
}

.tab-part .MuiTabs-root .MuiTabs-indicator {
    background-color: #8c8c8c;
}

.analytic-results  {
    display: flex;
    flex-direction: row;
    gap: 20px
}

.result-item {
    display: flex;
    flex-direction: column;
    padding: 0px 20px 0px 10px;
    max-width: 250px;
}

.result-item>span {
    color: gray;
    font-size: 14px;
}

.input-details {
    display: flex;
    justify-content: end;

}
 .input-details p {
    margin: 0px ;
 }
.analytics-text {
    color: gray ;
    padding-top: 10px;
}

@media (max-width: 768px){
    .analytic-results,
    .input-details {
        width: 100%;
        margin-right: 0;
    }

} 

.result-margin {
    margin: 20px 0;

}

.button-alignment {
    justify-content: end;
    align-items: end;
    width: 75%;
}


.analytics-result-container {
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 5px;
    background-color: #fff;
    margin-bottom: 20px;
}

.material-tab-container {
    background-color: white;
    border: 1px solid lightgray;
    padding: 10px 10px 20px 20px;
    margin-top: 12px;
    border-radius: 6px;
}

.material-items-container {
    max-width: 240px;
    background-color: white;
    border-radius: 0px !important;

}

.material-items {
    background-color: white;
    gap: 14px;
    padding: 0px !important
}

.flex-direction-column {
    display: flex;
    flex-direction: column;
}



.recomonded-values-group {
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;

}

.text-alignment {
    font-weight: bold;
    text-align: end;
}


.form-container {
    /* max-width: 70%; */
    padding: 20px;
    /* border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff; */
    /* margin: auto; */
}

form {
    display: flex;
    flex-direction: column;

}

.label-position{
    margin-top: 10px;
    margin-bottom: 5px;
    color: #797979;
    font-size: 14px;
}

.result-recommondation{
    width: 30%;
}

.tab-section {
    display: flex;
    flex-direction: column;
}


/* @media (max-width:910px){
    .result-recommondation{
        width: 40%;
        flex-shrink: 0;
    }
    .tab-section-width {
        width: 60%;
    }
} */