body {
    font-family: Arial,sans-serif;
}

.form-container {
    /* max-width: 70%; */
    padding: 20px;
    /* border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff; */
    /* margin: auto; */
}

form {
    display: flex;
    flex-direction: column;

}

.label-position{
    margin-top: 10px;
    margin-bottom: 5px;
    color: #797979;
    font-size: 14px;
}
 
.flex-container{
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 100%;
}

.form-actions{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    gap: 100px;
    /* align-items: flex-start;
    justify-content: flex-start; */
}

.clear-btn, .schedule-btn {
    padding: 10px 20px !important;
    border: none !important;
    border-radius: 4px !important;
    /* cursor: pointer !important; */
}