.main-header {
    background-color: #F40000;
    color: #fff;
    width: 100%;
    position: fixed;
    z-index: 9;
}
.main-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}