.input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.input-container-items {
    flex: 1;  
}

.input-label {
    display: flex;
    justify-content: center;
    align-items: center;
}