.card-div {
    border: 1px solid #000;
    width: 380px;
    height: 200px;
    border-radius: 5px;
    padding-left: 15px;
}


/* Media queries starts */
@media (max-width: 1024px) {
    .card-div {
        width: 300px;
    }
}
@media (min-width: 426px) and (max-width: 768px) {
    .card-div {
        width: 200px;
    }
}
