.main-content {
    display: flex;
    padding-top: 64px;
    gap:20px;
}
.sidebar {
    width: 8%;
    background-color: #aaaaaa;
}
.content {
    width: 92%; 
}

.listButtonSection {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
    text-align: center !important;
    word-wrap: break-word !important;
    
}

.sideBarOptionsList{
    margin: 0px !important;
    padding: 0px !important;
}