.main-content {
    display: flex;
    position: relative;
    top: 70px;
    z-index: 0;
    margin: auto 10px;
}
.sidebar {
    width: 25%;
    border: 1px solid;
    border-radius: 50px;
    position: fixed;
    height: 85%;
    overflow: hidden;
}
.content {
    width: 75%;
    position: absolute;
    left: 25%;
}