.main-content {
    display: flex;
    padding-top: 64px;
    height: auto;
    min-height: 100vh;
    max-width: 1440px;
}
.sidebar {
    width: 8%;
    background-color: #aaaaaa;
}
.content {
    width: 100%;
    margin: 0px 15px; 
}

.listButtonSection {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
    text-align: center !important;
    word-wrap: break-word !important;
    
}

.sideBarOptionsList{
    margin: 0px !important;
    padding: 0px !important;
}